<%= form_with url: searches_dogs_path, method: :get, data: { turbo: false }, class: 'my-search-form' do %>
  <%= label_tag :breed, "Your favourite breed" %>
  <%= text_field_tag :breed, nil, required: true %>
  <%= submit_tag 'Submit', class: 'btn' %>
<% end %>

<%= turbo_frame_tag 'breed_image_result' do %>
  <% if @breed && @image_url %>
    <% if @status == 'success' %>
      <h1><%= @breed %></h1>
    <% else %>
      <h1>Ohh, little maltese is sad becuse we don't have <%= @breed %> images in our database</h1>
    <% end %>

    <p><%= image_tag(@image_url) %></p>
  <% end %>
<% end %>
